/target
.env
.devcontainer/meilisearch.env
.devcontainer/pg1
.devcontainer/pg2
.devcontainer/redis1
.devcontainer/redis2
.devcontainer/nginx/certs
.devcontainer/meilisearch
.devcontainer/misskey/files
.devcontainer/minio_data